

.header{
	
	background-color: #2d2a30;	
	display: flex;
	justify-content: space-between;
	align-items: center;       /* se centra en vertical*/
	padding: 5px 2%;      /*arriba y abajo   -  costados*/
	
}




.header .logo img{
	margin-top: 10px;
	height: 70px;
	width: auto;
	transition: all 0.3s;
}

.header .logo img:hover{
	transform: scale(1.2);
}


.header .nav-links{
	flex-direction: column;
	list-style: none;         /*sacar puntitos*/
	margin-right: 690px;

}

.header .nav-links li{         /*se ponen en horizontal*/
	display: inline-block;
	padding: 0 20px;
	
	
}

.header .nav-links li:hover{       
	transform: scale(1.1);
	/* background-color: #ddd;     color de sombreado del menu */
	color: black;				/*color de letras*/
}

.header .nav-links a{         /*se ponen en horizontal*/
	font-size: 700;
	color: #ddd;
	text-decoration: none;    /*quitar subrayado*/
	
	
	
}

.header .nav-links a:hover{         /*se ponen en horizontal*/

	color: #ffffff;
	border-bottom: 3px solid red;
	
	
}



.header .nav-links a{         /*se ponen en horizontal*/
	font-size: 20px;
	color: #ddd;
	text-decoration: none;    /*quitar subrayado*/
	
	
}

.header .btn button{
	font-weight: 700;
	color: #383838;
	padding: 9px 25px;
	background-color: #ddd;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.header .btn button:hover{
	background-color: #ddd;
	color: #b60b0b;
	transform: scale(1.1);
}

 


