@import url('https:/fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


html {
	font-size: 80%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ********************************** */
/*               slider               */
/* ********************************** */







.bg-img_head {
	/* The image used */
	background-image: url("index_img/slider/slider2.jpg");
	background-image: 10px;
  
	min-height: 700px;
	
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  
	/* Needed to position the navbar */
	position: relative;
	
  }




.slider-frame {
	width: 1200px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 100%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 1200px;
}


@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -400%;}
	100% {margin-left: -400%;}
}



/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
	background-color: var(--background-color);
}

/* ********************************** */
/*              FEATURES              */
/* ********************************** */
.container-features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
}

.card-feature {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	background-color: #fff;
	border-radius: 1rem;
	padding: 1.5rem 0;
}

.card-feature i {
	font-size: 2.7rem;
	color: var(--primary-color);
}

.feature-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.feature-content span {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--dark-color);
}

.feature-content p {
	color: #777;
	font-weight: 500;
}

/* ********************************** */
/*             CATEGORIES             */
/* ********************************** */

.top-categories {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}



.card-category {
	height: 50rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}
/* adf */

.category-casual {
	background-image: linear-gradient(#00000080, #00000080),
	url('index_img/casual.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}
.category-elegante {
	background-image: linear-gradient(#00000080, #00000080),
	url('index_img/elegante.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-deportivo {
	background-image: linear-gradient(#00000080, #00000080),
	url('index_img/deportivo.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-category p {
	font-size: 2.5rem;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.card-category p::after {
	content: '';
	width: 2.5rem;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-category span {
	font-size: 1.6rem;
	color: #fff;
	cursor: pointer;
}

.card-category span:hover {
	color: var(--primary-color);
	
}



/* Products */
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

.card-product {
	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.container-img {          /*POSICION DEL %*/
	position: relative;
}

.container-img img {  /*NO SE Q DEL %*/
	width: 100%;
}

.container-img .discount {  /*% DESCENTO DEL DESCUENTO*/
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.card-product:hover .discount { /*ANIMACOIN DEL % DESCUENTO*/
	background-color: #000;
}




.content-card-product h3 {   /*NOMBRE DEL PRODUCTO*/
	grid-row: 2/3;
	grid-column: 1/-1;
	
	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
	
}


.content-card-product .price {  /*PRECIO VERDADERO TACHADO*/
	justify-self: end;
	align-self: center;
	font-size: 1.7rem;
	font-weight: 600;

	
	
}

.content-card-product .price span {   /*PRECIO TACHADO*/
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
	margin-left: 0.5rem;
	
	
}



/* ********************************** */
/*              SPECIALS              */
/* ********************************** */
.specials {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}
/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
