/* ********************************** */
/*               HEAD                 */
/* ********************************** */


   
    

@media (max-width: 880px) {


    .header{
        
        
        justify-content: space-between;
        align-items: center;       /* se centra en vertical*/
        padding: 5px 1%;      /*arriba y abajo   -  costados*/
        
    }
    
    
    .header .logo img{
        margin-top: 2px;
        padding: 1px 5px;
        height: 40px;
        width: auto;
        
    }
    
    .header .nav-links{
        flex-direction: column;
        list-style: none;         /*sacar puntitos*/
        margin-right: 80px;
    
    }
    
    .header .nav-links li{         /*se ponen en horizontal*/
        display: inline-block;
        padding: 0 3px;
        
        
    }
    
    .header .nav-links a{         /*se ponen en horizontal*/
        font-size: 20px;	
        
    }
    
    
    .header .nav-links a{         /*se ponen en horizontal*/
        font-size: 13px;	
        
    }
    
    }
    
    
    @media (max-width: 1600px) and (min-width: 900px) {
    
     
        .header .nav-links{
            margin-right: 450px;
        }
                
        }
    
    
    
    


/* --------------------------------------BODY------------------------------------------------------------- */






@media (max-width: 800px) {
  
	.column {
	 
	  width:50%;
	  
	}
  
  }
  
  
  



/* --------------------------------------FOOTER------------------------------------------------------------- */






@media (max-width: 880px) {



    footer {
        position: static;
    }
    .footer-distributed {
        padding: 20px 0;
    }
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;              
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}       
        


