* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
	background: #EAEDED;
	font-family: Arial, sans-serif;
	
}

a {
	text-decoration: none;
}

.contenedor {
	margin: auto;
	width: 100%;
	max-width: 1200px;
	
}



/* ------------------------- */
/* Enlaces del NAV */
/* ------------------------- */
.menu {
	background: #2d2a30;       /*color de la cinta*/
	/* background: #2d2a30;       antes */
	padding: 5px 0;
	margin-bottom: 20px;
	
	
}


.menu .contenedor-botones-menu {
	/* display: flex; */
	display: none;
	justify-content: space-between;
}

.menu .contenedor-botones-menu button {
	font-size: 20px;
	color: #fcfcfc;
	padding: 10px 20px;
	border: 1px solid transparent;
	display: inline-block;
	cursor: pointer;
	background: none;
}

.menu .contenedor-botones-menu button:hover {
	border: 1px solid rgba(255, 255, 255, 0.4);
}




.menu .contenedor-enlaces-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu .btn-productos {      /*colo de letra de todos los productos*/
	color: #fff;
	padding: 7px;
	border-radius: 3px;
	display: flex;
	align-items: flex-end;
	border: 1px solid transparent;
	font-size: 12px;
	cursor: default;
}

.menu .btn-productos i {
	margin-left: 20px;
	position: relative;
	bottom: 3px;
}

.menu .btn-productos:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .btn-productos span {
	display: block;
	font-size: 14px;
	font-weight: bold;
}

.menu .contenedor-enlaces-nav .enlaces a {      /*distancia entre las redes sociales de arriba*/
	padding: 7px;

}



/* ------------------------- */
/* GRID */
/* ------------------------- */
.contenedor-grid {
	position: relative;
}

.grid {
	width: 50%;
	display: none;
	position: absolute;
	top: 5px;
	z-index: 100;
	
	
	grid-template-areas: "categorias subcategorias";
}

.grid.activo {
	display: grid;
}


.grid > div {
	background: #2d2a30b4;                                  /*color del fondo del contenedor de menus*/
	

}

/* ------------------------- */
/* Categorias */
/* ------------------------- */

.grid .btn-regresar {
	background: #232F3E;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	margin: 20px;
	font-size: 16px;
	cursor: pointer;
	display: none;
}

.grid .btn-regresar i {
	margin-right: 10px;
}

.grid .categorias {
	grid-area: categorias;
	padding-top: 10px;
	min-height: 300px;
	overflow: auto;
}

.grid .categorias .subtitulo {
	display: none;
}

.grid .categorias a {                            /*color de letra de  las categorias*/
	color: #ffffff;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.grid .categorias a:hover {     /*color de las categorias*/
	color: #ffffff;
	font-weight: bold;
}

.grid .categorias a i {
	display: none;
}



.grid .categorias a:hover i {
	display: inline-block;
}

/* ------------------------- */
/* Subcategorias */
/* ------------------------- */


.grid .subcategoria {
	display: none;
	grid-template-columns: 1fr ;
	grid-template-rows: 1fr;
	height: 100% 50%;
}

.grid .subcategoria.activo {
	display: grid;
}



.grid .enlaces-subcategoria {
	padding-top: 10px;
	height: 100%;
	max-height: 300px;
	overflow: auto;
}

.grid .enlaces-subcategoria a {
	color: #ffffff;
	display: block;
	font-size: 14px;
	padding: 10px 20px;
}

.grid .enlaces-subcategoria a:hover {    /*color de las subcategorias*/
	color: #ffffff;
	font-weight: bold;
}

.grid .subtitulo {                   /*color del titulo de las subcategorias*/
	font-size: 18px;
	font-weight: normal;
	color: #ffffff;
	padding: 10px 20px;
}




/* ------------------------- */
/* Mediaqueies */
/* ------------------------- */


@media screen and (max-width: 1000px) {
	.menu .contenedor-enlaces-nav {
		padding: 0 10px;
	}

	.menu .contenedor {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {

	.menu .logo{
		display: none;
	}

	.menu .contenedor {
		width: 90%;
	}

	.menu .contenedor-botones-menu {
		display: flex;
	}


	
	
	.menu .contenedor-enlaces-nav {
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		left: 0;
		background: #2d2a30b6;              /*color del fondo responsi*/
		height: 28vh;						/*largo de los submenus*/
		width: 40%;							/*ancho de los submenus*/
		z-index: 2000;
		transition: .3s ease all;
		transform: translate(-100%);
	}

	.grid > div {
		background: #2d2a30ef;                  /*color del fondo del contenedor de subcategorias*/
		
	
	}

	.menu .contenedor-enlaces-nav.activo {
		transform: translate(0%);
	}

	.menu .btn-productos {
		width: 100%;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.menu .btn-productos i {
		position: static;
		margin-left: 20px;
		transform: rotate(-90deg);
	}

	.menu .enlaces {
		width: 100%;
	}

	.menu .enlaces a {
		display: block;
		margin: 10px 0;
		padding: 10px;
	}

	.grid {
		display: grid;
		transition: .3s ease all;
		transform: translateX(-100%);
		z-index: 3000;
		height: 35vh;			/*largo de los submenus*/
		width: 40%;				/*ancho de los submenus*/
		position: fixed;
		top: 0;
		left: 0;
		
		grid-template-areas: "categorias categorias categorias categorias";
	}

	.grid.activo {
		transform: translateX(0%);
	}

	.grid::before {
		display: none;
	}

	.grid .btn-regresar {
		display: inline-block;
	}

	.grid .categorias .subtitulo {
		display: block;
	}

	.grid .contenedor-subcategorias {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		transition: .3s ease all;
		transform: translateX(-100%);
		/* overflow: auto;   barra de desplazamiento */
	}

	.grid .contenedor-subcategorias.activo {
		transform: translateX(0%);
	}

	.grid .contenedor-subcategorias .subcategoria {
		grid-template-columns: 1fr;
	}

	.grid .contenedor-subcategorias .banner-subcategoria {
		width: 100%;
		min-height: 250px;
		max-height: 350px;
	}

	.grid .enlaces-subcategoria {
		min-height: 50vh;
		overflow: auto;
	}

	.grid .contenedor-subcategorias .galeria-subcategoria a {
		width: 25%;
		height: 100%;
	}
}